@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primarywhite:#fff;
  --orange:#f9ab00;
  --primarydark: rgba(255,255,255,0)
}
body{
  font-family: 'Roboto Condensed', sans-serif;
}

/**************************NavBar****************************/
.navbar-brand{
  color: var(--primarywhite)  !important;
  font-style: italic;
  font-weight: 500;
}
/* -----NAV LINKS----- */
nav a.nav-link{
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primarywhite) !important;
  border-top: 3px solid var(--primarydark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 3px solid var(--orange);
}
.navbar-nav >li>a:hover{
  border-top: 3px solid var(--orange);
}